In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
# Note: Ensure the file path matches your environment
data = pd.read_csv('diabetic_data.csv')

# 1. Impute or Remove Missing Values
# Replace '?' with standard NaN (Not a Number)
data = data.replace('?', np.nan)

# Drop columns with high missing percentage (>40%)
cols_to_drop = ['weight', 'payer_code', 'medical_specialty']
data = data.drop(columns=cols_to_drop)

# Impute 'race' with 'Unknown'
data['race'] = data['race'].fillna('Unknown')

# Drop rows with missing critical diagnosis info (diag_1, diag_2, diag_3)
data = data.dropna(subset=['diag_1', 'diag_2', 'diag_3'])

# Handle test result columns (NaN implies 'Test Not Performed')
data['max_glu_serum'] = data['max_glu_serum'].fillna('None')
data['A1Cresult'] = data['A1Cresult'].fillna('None')


# 2. Standardize Codes (NG Code)

# Gender column standardization
gender_map = {'male': 'M', 'female': 'F'}
data['gender'] = (
    data['gender']
    .str.strip()
    .str.lower()
    .map(gender_map)
    .fillna('Unknown')
)

# Readmitted column standardization
readmitted_map = {'no': 'False', '>30': 'False', '<30': 'True'}
data['readmitted'] = (
    data['readmitted']
    .str.strip()
    .str.lower()
    .map(readmitted_map)
)


# 3. Detect and Flag Outliers
# Define numeric columns to check for outliers
numeric_cols = [
    'time_in_hospital', 'num_lab_procedures', 'num_procedures', 
    'num_medications', 'number_outpatient', 'number_emergency', 
    'number_inpatient', 'number_diagnoses'
]

# Initialize a global mask to track if a row has ANY outlier
outlier_mask = pd.Series(False, index=data.index)

# Dictionary to store counts for the final summary output
outlier_counts = {}

# Use IQR (Interquartile Range) Method to detect outliers
for col in numeric_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Create specific flag for this column
    col_flag_name = f'outlier_{col}'
    data[col_flag_name] = (data[col] < lower_bound) | (data[col] > upper_bound)
    
    # Track counts for the final output
    outlier_counts[col] = data[col_flag_name].sum()
    
    # Update global mask
    outlier_mask = outlier_mask | data[col_flag_name]

# Create the final summary column
data['flagged_outlier'] = outlier_mask



#  outlier detection
print("outlier detection")
print("-" * 30)
print(f"{'Column Name':<25} | {'Outlier Count':<15}")
# Loop through the results and print them
for col, count in outlier_counts.items(): 
    print(f"{col:<25} | {count:<15}")

print(f"Total Rows with Outliers: {data['flagged_outlier'].sum()}")
print(f"Total Rows in Dataset:    {len(data)}")


data.to_csv('diabetic_data_final.csv', index=False)

## EDA

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("diabetic_data.csv")
df.shape
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
df.info()
df.describe(include="all").T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
encounter_id,101766.0,NaN,NaN,NaN,165201645.622978,102640295.983458,12522.0,84961194.0,152388987.0,230270887.5,443867222.0
patient_nbr,101766.0,NaN,NaN,NaN,54330400.694947,38696359.346534,135.0,23413221.0,45505143.0,87545949.75,189502619.0
race,101766,6,Caucasian,76099,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,101766,3,Female,54708,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,101766,10,[70-80),26068,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weight,101766,10,?,98569,NaN,NaN,NaN,NaN,NaN,NaN,NaN
admission_type_id,101766.0,NaN,NaN,NaN,2.024006,1.445403,1.0,1.0,1.0,3.0,8.0
discharge_disposition_id,101766.0,NaN,NaN,NaN,3.715642,5.280166,1.0,1.0,1.0,4.0,28.0
admission_source_id,101766.0,NaN,NaN,NaN,5.754437,4.064081,1.0,1.0,7.0,7.0,25.0
time_in_hospital,101766.0,NaN,NaN,NaN,4.395987,2.985108,1.0,2.0,4.0,6.0,14.0
payer_code,101766,18,?,40256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
medical_specialty,101766,73,?,49949,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_lab_procedures,101766.0,NaN,NaN,NaN,43.095641,19.674362,1.0,31.0,44.0,57.0,132.0
num_procedures,101766.0,NaN,NaN,NaN,1.33973,1.705807,0.0,0.0,1.0,2.0,6.0
num_medications,101766.0,NaN,NaN,NaN,16.021844,8.127566,1.0,10.0,15.0,20.0,81.0
number_outpatient,101766.0,NaN,NaN,NaN,0.369357,1.267265,0.0,0.0,0.0,0.0,42.0
number_emergency,101766.0,NaN,NaN,NaN,0.197836,0.930472,0.0,0.0,0.0,0.0,76.0
number_inpatient,101766.0,NaN,NaN,NaN,0.635566,1.262863,0.0,0.0,0.0,1.0,21.0
diag_1,101766,717,428,6862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diag_2,101766,749,276,6752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diag_3,101766,790,250,11555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_diagnoses,101766.0,NaN,NaN,NaN,7.422607,1.9336,1.0,6.0,8.0,9.0,16.0
max_glu_serum,5346,3,Norm,2597,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A1Cresult,17018,3,>8,8216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
metformin,101766,4,No,81778,NaN,NaN,NaN,NaN,NaN,NaN,NaN
repaglinide,101766,4,No,100227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nateglinide,101766,4,No,101063,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chlorpropamide,101766,4,No,101680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
glimepiride,101766,4,No,96575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acetohexamide,101766,2,No,101765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
glipizide,101766,4,No,89080,NaN,NaN,NaN,NaN,NaN,NaN,NaN
glyburide,101766,4,No,91116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tolbutamide,101766,2,No,101743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pioglitazone,101766,4,No,94438,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rosiglitazone,101766,4,No,95401,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acarbose,101766,4,No,101458,NaN,NaN,NaN,NaN,NaN,NaN,NaN
miglitol,101766,4,No,101728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
troglitazone,101766,2,No,101763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tolazamide,101766,3,No,101727,NaN,NaN,NaN,NaN,NaN,NaN,NaN
examide,101766,1,No,101766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
citoglipton,101766,1,No,101766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insulin,101766,4,No,47383,NaN,NaN,NaN,NaN,NaN,NaN,NaN
glyburide-metformin,101766,4,No,101060,NaN,NaN,NaN,NaN,NaN,NaN,NaN
glipizide-metformin,101766,2,No,101753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
glimepiride-pioglitazone,101766,2,No,101765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
metformin-rosiglitazone,101766,2,No,101764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
metformin-pioglitazone,101766,2,No,101765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
change,101766,2,No,54755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
diabetesMed,101766,2,Yes,78363,NaN,NaN,NaN,NaN,NaN,NaN,NaN
readmitted,101766,3,NO,54864,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
(df == "?").sum().sort_values(ascending=False).head(30)
df.isna().sum().sort_values(ascending=False).head(30)

max_glu_serum               96420
A1Cresult                   84748
encounter_id                    0
nateglinide                     0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
chlorpropamide                  0
repaglinide                     0
patient_nbr                     0
medical_specialty               0
race                            0
dtype: int64

In [6]:
for col in ["encounter_id", "patient_nbr"]:
    if col in df.columns:
        print(col, "unique:", df[col].nunique(), "rows:", len(df))

encounter_id unique: 101766 rows: 101766
patient_nbr unique: 71518 rows: 101766

In [7]:
df.duplicated(subset=["encounter_id"]).sum()
df.duplicated(subset=["patient_nbr"]).sum()

30248

In [8]:
df_clean = df.copy()

In [9]:
df_clean = df_clean.replace("?", np.nan)

In [10]:
df_clean.isna().mean().sort_values(ascending=False).head(20)

weight               0.968585
max_glu_serum        0.947468
A1Cresult            0.832773
medical_specialty    0.490822
payer_code           0.395574
race                 0.022336
diag_3               0.013983
diag_2               0.003518
diag_1               0.000206
encounter_id         0.000000
troglitazone         0.000000
tolbutamide          0.000000
pioglitazone         0.000000
rosiglitazone        0.000000
acarbose             0.000000
miglitol             0.000000
citoglipton          0.000000
tolazamide           0.000000
examide              0.000000
glipizide            0.000000
dtype: float64

## Removing duplicates

In [12]:
before = len(df_clean)
df_clean = df_clean.drop_duplicates(subset=["encounter_id"], keep="first")
print("Removed:", before - len(df_clean))

Removed: 0

## Clean numeric fields

In [14]:
numeric_cols = [
    "time_in_hospital", "num_lab_procedures", "num_procedures", "num_medications",
    "number_outpatient", "number_emergency", "number_inpatient", "number_diagnoses"
]
present_numeric = [c for c in numeric_cols if c in df_clean.columns]
present_numeric

['time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses']

In [15]:
for c in present_numeric:
    df_clean[c] = pd.to_numeric(df_clean[c], errors="coerce")

In [16]:
for c in present_numeric:
    neg = (df_clean[c] < 0).sum()
    if neg > 0:
        print(c, "negative values:", neg)

## Standardize cat fields

In [18]:
obj_cols = df_clean.select_dtypes(include=["object"]).columns

for col in obj_cols:
    df_clean[col] = df_clean[col].astype("string").str.strip()

In [19]:
df_clean[obj_cols].dtypes.value_counts()

string[python]    37
Name: count, dtype: int64

## Create target

In [21]:
df_clean["readmit_30d"] = (df_clean["readmitted"] == "<30").astype(int)
df_clean["readmit_30d"].value_counts()

readmit_30d
0    90409
1    11357
Name: count, dtype: int64

In [22]:
df_clean["encounter_id"].isna().sum()
df_clean["encounter_id"].duplicated().sum()

0

In [23]:
missing_summary = (df_clean.isna().mean()*100).sort_values(ascending=False)
missing_summary.head(30)

weight                      96.858479
max_glu_serum               94.746772
A1Cresult                   83.277322
medical_specialty           49.082208
payer_code                  39.557416
race                         2.233555
diag_3                       1.398306
diag_2                       0.351787
diag_1                       0.020636
troglitazone                 0.000000
encounter_id                 0.000000
tolazamide                   0.000000
acarbose                     0.000000
rosiglitazone                0.000000
pioglitazone                 0.000000
tolbutamide                  0.000000
miglitol                     0.000000
citoglipton                  0.000000
examide                      0.000000
glipizide                    0.000000
insulin                      0.000000
glyburide-metformin          0.000000
glipizide-metformin          0.000000
glimepiride-pioglitazone     0.000000
metformin-rosiglitazone      0.000000
metformin-pioglitazone       0.000000
change                       0.000000
diabetesMed                  0.000000
readmitted                   0.000000
glyburide                    0.000000
dtype: float64

In [24]:
df_clean[present_numeric].describe().T

,count,mean,std,min,25%,50%,75%,max
time_in_hospital,101766.0,4.395987,2.985108,1.0,2.0,4.0,6.0,14.0
num_lab_procedures,101766.0,43.095641,19.674362,1.0,31.0,44.0,57.0,132.0
num_procedures,101766.0,1.339730,1.705807,0.0,0.0,1.0,2.0,6.0
num_medications,101766.0,16.021844,8.127566,1.0,10.0,15.0,20.0,81.0
number_outpatient,101766.0,0.369357,1.267265,0.0,0.0,0.0,0.0,42.0
number_emergency,101766.0,0.197836,0.930472,0.0,0.0,0.0,0.0,76.0
number_inpatient,101766.0,0.635566,1.262863,0.0,0.0,0.0,1.0,21.0
number_diagnoses,101766.0,7.422607,1.933600,1.0,6.0,8.0,9.0,16.0

## Export dataset

In [26]:
df_clean.to_csv("diabetic_data_clean.csv", index=False)

# IDS MAPPING cleaning

In [28]:
ids = pd.read_csv("IDS_mapping.csv")

# basic hygiene
obj_cols = ids.select_dtypes(include=["object"]).columns
for col in obj_cols:
    ids[col] = ids[col].astype("string").str.strip()

# duplicate check on likely key columns (adjust if needed)
ids.duplicated().sum()

ids.to_csv("IDS_mapping_clean.csv", index=False)

## Timely and Effective Care

In [30]:
hosp = pd.read_csv(
    "Timely_and_Effective_Care-Hospital.csv",
    low_memory=False
)

# Clean column names for Snowflake friendliness
hosp.columns = (
    hosp.columns.astype(str)
    .str.strip()
    .str.lower()
    .str.replace(" ", "_", regex=False)
    .str.replace(r"[^a-z0-9_]", "", regex=True)
)

# Strip object columns
obj_cols = hosp.select_dtypes(include=["object"]).columns
for col in obj_cols:
    hosp[col] = hosp[col].astype("string").str.strip()

hosp.to_csv("hospital_quality_clean.csv", index=False)